{{#image-uploader upload-preset="broker" action="replaceImage"}}
    <div class="col-xs-4 flex-p0">
        <label>
            replace image
            <input type="file" class="hidden" />
        </label>
        <br />
        (or drag &amp; drop)
    </div>
    {{#if model.imageUrl}}
        <div class="col-xs-8 flex-p0">
            <img {{bind-attr src=model.imageUrl}} style="height:100px;" />
        </div> 
    {{/if}}      
{{/image-uploader}}
