{{#image-uploader upload-preset="broker" action="replaceImage"}}
    <div class="col-xs-4 flex-p0">
        <label>
            replace image
            <input type="file" class="hidden" />
        </label>
        <br />
        (or drag &amp; drop)
    </div>
    <div class="col-xs-8 flex-p0">
        {{image-transform url=model.imageUrl placeholder="Logo" width="400" height="200"}}            
    </div> 
{{/image-uploader}}


